html {

	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	font-size:1.2em;
}
body {

	font-size: 75%;
	line-height:19px;
}
.hidden {

	display:none;
}
.slide {
	
	width: 810px;
	margin: 10px auto;
}	
.help {
	font-size: 90%;
	color: #111;
	margin: 10px 0;
}	
a, #toggle {

	text-decoration: none;
	color:#069;
}
img {

	border: 0;
}
div.tabs {

	text-align: center;
}
div.tabs a {

	margin: 0 3px 0 0;
}
div.tabs a.selected {

	text-decoration: underline;
}

#toggle {

	cursor: pointer;
	margin-right: 10px;
	border-bottom: 1px dotted;
}
/*

*/
#slide {

	position: relative;
	height: 300px;
	width: 815px;
	background: #ccc;
	padding: 5px 0;
	overflow: hidden;
}
#slide div {

	position: relative;
	display: inline-block;
	width: 400px;
	margin-left: 5px;
}
#slide span {

	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 380px;
	color: #fff;
	background: url(../Assets/images/grey.png);
	background: rgba(0, 0, 0, .7)
}